<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeinatopia| productDetail</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="produc-Detail-b">
    <header>
        
    </header>
    <main class="produc-Detail"> 
        <ul class="product_casita">
            <li>
                <a href="#"><i class="fa-solid fa-house" style="color: #991F1F;"></i></a>
                <p class="casita-p">Café Molido / Premium</p>
            </li>
        </ul>

        <div class="product__container-img">
            <img src="/img/cafe molido producto.png" alt="Nombre del Producto">
        </div>

        <div class="product__container-h"> 
            <h1>Cafeinatopia</h1>
            <h2>Café Molido Premium</h2>
            <h2>400g</h2>
            <h3>Precio: $8500</h3>
            <p>_________________________________________________________________________</p>
            <h2>Cantidad</h2>
            <div class="contador">
                <button class="boton-menos">-</button>
                <span class="numero">1</span>
                <button class="boton-mas">+</button>
            </div>

            <button class="button_A">Añadir al Carrito</button>
            <div>
                <article class="product_conteiner-arti">
                    <h3>Nuestro café en grano premium proviene de las
                        regiones cafeteras más selectas del mundo.
                        Cosechado a mano y tostado con esmero, este café
                        ofrece una experiencia con notas de sabor suave y
                        aterciopelada.
                        Perfecto para los amantes del café más exigentes.
                    </h3>
                    <img class="intensidad-img" src="/img/intensidad.jpg" alt="intensidad">  
                </article>
                <p>_____________________________________________________________________________________________________________________</p>
            </div>
        </div>
          <div> 
        <h2 class="product-visto">Productos más vistos</h2>
        <section class="product__container-mas">
            <img src="/img/capsulavioleta.png" alt="capsula">
            <h4>Cápsulas Desf Pack x6 UN. $2250</h4>
            <button class="button_Amas">Añadir al Carrito</button>
        </section>
        <section class="product__container-mas">
            <img src="/img/pack cafe molido.png" alt="">
            <h4>Café Molido Intensp 260 G. $3350</h4>
            <button class="button_Amas">Añadir al Carrito</button>
        </section>
        <section class="product__container-mas">
            <img src="/img/maquinadecafe.png" alt="">
            <h4>Cafetera Ocean Negra. $110.000</h4>
            <button class="button_Amas">Añadir al Carrito</button>
        </section>
    </div>
    </main>
</body>

 <footer>


 </footer>
</body>

</html>