.footer_container {
font-family: 'inter';
display: flex;
flex-direction: column;
justify-content: flex-start;
flex-wrap: wrap;
background-color: var( --colorGrisClaro);
color:var(--colorrojo);
height: 650px;
text-align: center;
}

.footer_imagen_logo{
width: 15%;
padding:20px 0;
margin: 0 auto;
display: flex;
}

.footer_item h4 {
font-size: 18px;
display: flex;
justify-content: center;
font-weight: 700;
}

.footer_item ul {
padding: 0;
margin: 0;
text-align: center;
}

.footer_item ul li a{
text-decoration: none;
color:var(--colorrojo);
font-weight: 400;
display: flex;
font-size: 15px;
justify-content: center;
}

.footer_item li{
list-style: none;
margin: 15px 0;
}

.footer_mediosdepago{
  margin-bottom: 5%;
}

.footer_tarjetas{
display: flex;
justify-content: center;
width: 60%;
margin-left: 90px;  
margin-bottom: 20px;
}

.footer_tarjetas img{
width: 15%;
height: 10%;
display: flex;
justify-content:center;
}

.footer_item p{
display: flex;
justify-content:center;
background-color: var(--colorblanco);
}

.footer_boton_de_arrepentimiento {
  display: flex;
  justify-content: center;
}

.footer_boton_de_arrepentimiento button{
border-radius: 5px;
background-color:  var(--colorrojo);
color:var(--colorblanco);
margin: 15px;
position: relative;
bottom: 50px;

}

.footer_copy {
display: flex;
flex-wrap: wrap;
background-color: var(--colorblanco);
height: 100px;
justify-content: space-around;
}

.footer_copy img {
width: 65px;
height: 65px;
padding-top: 10px;
}

.footer_copy_p {
display: flex;
justify-content:center;
font-size: 1rem;
background-color: var(--colorblanco);
color: var(--colorrojo);
}




/*//////////////////////////////////////////////////////////////////////////////////////*/

/*tablet*/
@media (min-width: 481px){
  
.footer_container{
font-family: 'inter';
background-color: var(--colorGrisClaro);
display: flex;
flex-wrap: wrap;
font-family: 'inter';
height: 220px;
}

.footer_item {
  width: 20%;
}

.footer_item_logo{
  width: 15%;
  padding-top: 35px;
}

.footer_imagen_logo{
width: 95px;
margin: 0px 0px 0px 20px;
display: flex;
}

.footer_item h4{
font-size: 18px;
display: flex;
justify-content: center;
font-weight: 700;
padding-top: 20px;
}

.footer_item ul {
padding: 0;
margin: 0;
text-align: center;
}

.footer_item_quienes ul li a {
text-decoration: none;
color: var(--colorrojo);
font-weight: 400;
display: flex;
font-size: 15px;
justify-content: center;
}

.footer_item li {
list-style: none;
margin: 15px 0;
}

.footer_mediosdepago {
margin-bottom: 5%;
}

.footer_tarjetas {
display: flex;
justify-content: center;
width: 60%;
margin: 25px 0px 15px 35px;
}

.footer_tarjetas img {
width: 30%;
height: 15%;
display: flex;
justify-content:center;
padding: 5px;
}

.footer_item p {
display: flex;
justify-content:center;
background-color: var(--colorblanco);
}

.footer_boton_de_arrepentimiento {
background-color: var(--colorGrisClaro);
height: 60px;
padding: 15px 30px 0 0;
display: flex;
justify-content: flex-end;
}

.footer_boton_de_arrepentimiento button {
border-radius: 5px;
background-color:  var(--colorrojo);
color:var(--colorblanco);
display: flex;
margin: 0px;
height: 30px;
align-items: center;
}

.footer_copy {
width: 100%;
display: flex;
justify-content: flex-end;}

.footer_copy img {
  padding: 10px 10px 0;
  height: 65px;
  width: 85px;
}

.footer_copy .logo_fiscal {
  padding: 10px 30px 0 10px;
  width: 95px;
}

.footer_copy_p {
display: flex;
justify-content: left;
padding-left: 60px;

}

.footer_item{
width: 20%;
text-align: center;
justify-content: center;
list-style-type: none;
list-style: none;
}
}
/*/////////////////////////////////////////////////////////////////////////////////////*/


/*Desktop*/
@media (min-width: 1024px){

.footer_container{
font-family: 'inter';
background-color:var( --colorGrisClaro);
display: flex;
flex-direction: row;
justify-content:space-around;
height: 200px;
}

.footer_item {
width: 20%;
text-align: center;
justify-content: center;
list-style-type: none;
list-style: none;
}

.footer_imagen_logo{
width: 40%;
display: flex;
flex-direction: row;
justify-content:flex-start;
margin-left: 40px;
}

.footer_item h4{
font-size: 1.5rem;
display: flex;
justify-content: center;
font-weight: 700;
}

.footer_item ul li a {
text-decoration: none;
color: var(--colorrojo);
font-weight: 400;
display: flex;
font-size: 1.125rem;
justify-content: center;
}

.footer_item li {
list-style: none;
margin: 15px 0;
}

.footer_mediosdepago {
margin-bottom: 5%;
}

.footer_tarjetas {
display: flex;
justify-content: space-around;
width: 40%;
margin: 20px 10px 0 25px;  
}

.footer_tarjetas img {
width: 45%;
height: 85%;
display: flex;
justify-content:flex-end;
margin-top: 10px;
}

.footer_item p {
display: flex;
justify-content:center;
margin-right: 30px;
margin-left: 30px;
margin-top: 10px;
}

.footer_boton_de_arrepentimiento button {
border-radius: 5px;
background-color:  var(--colorrojo);
color:var(--colorblanco);
margin-bottom: 100px;
margin-right:50px;
position: relative;
bottom: -5px;
}

.footer_copy {
width: 100%;
height: 30%;
}

.footer_copy_image {
width: 25%;
height: 55%;
}

.footer_copy p {
display: flex;
justify-content:center;
}
}