:root {
    --colorrojo: #991D1F;
    --colorocre: #E99203;
    --colorblanco: #FFFFFF;
    --colorGrisOscuro: #736E6E;
    --colorGrisClaro: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body {
    font-family: 'inter';  
    background-image: url(/img/fondo-accesorios-cafe.PNG);
}

textarea {
    resize: none;

}


