/*sección slide*/


.btn-primary {
    background-color: var(--colorocre);
    height: 50px;
    width: 160px;
    position: relative;
    margin-bottom: 50px;
}

.carousel-indicators button {
    display: none;
}


/*contenedores*/

.index__main {
    margin: 0 auto;
    max-width: 1440px;
}


.index__div__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px;
}

.index__photo {
    width: 100%;
    padding: 10px;
}

.index__photo__capsulas {
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 50px;
}

.index__photo__cafeteras {
    width: 100%;
    padding: 10px;
    position: relative;
    bottom: 100px;
}


.contenedor-cafe-molido {
    text-align: center;
    background-color: var(--colorGrisClaro);
    opacity: 0.7;
    width: 85%;
    font-size: 26px;
    color: var(--colorrojo);
    font-weight: 800;
    padding: 5px 0;
    text-decoration: none;
    position: relative;
    bottom: 90px;
}

.contenedor-capsulas {
    position: absolute;
    text-align: center;
    background-color: var(--colorGrisClaro);
    opacity: 0.7;
    width: 85%;
    font-size: 26px;
    color: var(--colorrojo);
    font-weight: 800;
    padding: 5px 0;
    text-decoration: none;
    position: relative;
    bottom: 140px;
}

.contenedor-cafeteras {
    position: absolute;
    text-align: center;
    background-color: var(--colorGrisClaro);
    opacity: 0.7;
    width: 85%;
    font-size: 26px;
    color: var(--colorrojo);
    font-weight: 800;
    padding: 5px 0;
    text-decoration: none;
    position: relative;
    bottom: 190px;
}

/*carrusel elegi tu sabor*/

.index__section__carousel__sabor h2 {
    color: var(--colorrojo);
    font-size: 1.875rem;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
    width: 100%;
    position: relative;
    bottom: 280px;
}

.swiper-elegidos {
    position: relative;
    bottom: 300px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.swiper-elegidos .swiper-slide {
    width: 150px;
}

.swiper-slide img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.swiper-elegidos .swiper-button-prev {
    --swiper-navigation-size: 30px;
    color: var(--colorrojo);
    font-weight: 700;
}

.swiper-elegidos .swiper-button-next {
    --swiper-navigation-size: 30px;
    color: var(--colorrojo);
    font-weight: 700;
}


/*coffee capsule box*/

.index__section__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* height: 80vh; */
}

.box {
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 700px;
}

.index__section__box__coffee-capsule {
    background-color: var(--colorocre);
    width: 85%;
    height: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    position: relative;
    order: -1;
    top: -30px;
}

.index__section__box__coffee-capsule h3 {
    font-size: 30px;
    color: var(--colorrojo);
    font-weight: 900px;
}

.index__section__box__coffee-capsule p {
    font-size: 20px;
    color: var(--colorrojo);
    font-weight: 400px;
    padding: 10px;
    margin: 0;
}

.index__section__box__coffee-capsule-button {
    border: none;
    background-color: var(--colorrojo);
    color: var(--colorblanco);
    width: 200px;
    height: 45px;
    margin: 15px 15px 15px 65px;
    border-radius: 5px;
    font-size: 15px;
    
}
.index__section__box__coffee-capsule-button a {
    margin-top: 10px;
}



/*Carusel destacados*/
.index__section__carrousel__destacados {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.index__section__carrousel__destacados h2 {
    display: flex;
    justify-content: center;
    color: var(--colorrojo);
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0;
    position: relative;
    bottom: 500px;
}





/*Complementos*/
.index__section__complementos {
    color: var(--colorrojo);
    font-weight: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorGrisClaro);
    justify-content: end;
    position: relative;
    margin: 35px auto;

}

.index__section__complementos img {
    width: 305px;
    height: 305px;
    display: flex;
    position: absolute;
    top: -67px;
    right: 140px;
}

.complementos h3 {
    font-size: 20px;
    margin: 20px 0 0 15px;
}

.complementos p {
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    margin: 25px 10px 0 0;
}

.complementos button {
    border: none;
    background-color: var(--colorrojo);
    color: var(--colorblanco);
    width: 100px;
    height: 30px;
    margin: 25px 15px 20px 35px;
    border-radius: 5px;
}

.index__suscribite {
    display: flex;
    flex-direction: column;
    background-color: var(--colorocre);
    height: 110px;
}

.suscribite__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index__suscribite h3 {
    font-size: 1rem;
    color: var(--colorrojo);
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}

.index__suscribite__form__icono {
    background-color: var(--colorrojo);
    color: var(--colorblanco);
    height: 30px;
    width: 30px;
    font-size: 18px;
    text-align: center;
}

.index__suscribite__form__input {
    height: 30px;
    width: 280px;
}

.index__suscribite__form__button {
    height: 30px;
    width: 60px;
    background-color: var(--colorrojo);
    color: var(--colorblanco);
}

.index__suscribite__form__rrss {
    font-size: 18px;
    color: var(--colorrojo);
    text-align: center;
}

.fa-facebook-f {
    padding: 10px;
}

.fa-instagram {
    padding: 10px;
    color: var(--colorrojo);
}

.fa-youtube {
    padding: 10px;
}

.fa-linkedin-in {
    padding: 10px;
}





/*mobile*/
@media (max-width:480px) {

    .d-item {
        height: 300px;
    }

    .slide img {
        height: 135px;
        width: 150%;
        object-fit: cover;
    }

    .carousel-control-prev {
        top: -10em;
    }

    .carousel-control-next {
        top: -10em;
    }

    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        display: none;
    }

    #imgs1 {
        display: none;
    }

    .btn-primary {
        display: none;
    }


    .index__section__complementos img {
        order: 1;
    }


    /*destacados*/
    .card:not(:first-child) {
        margin: 0 .5em;
        display: none;

    }

   

   
}


/*tablet///////////////////////////////////////*/
@media (min-width:481px) {

    .btn-primary {
        height: 30px;
        width: 130px;
        position: relative;
        margin-bottom: -10px;
    }

    /*contenedores*/
    .index__contenedores {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
    }

    .index__div__container {
        width: 33%;
    }

    .index__photo {
        position: relative;
        top: 150px;
        padding: 0;
        width: 100%;
    }

    .contenedor-cafe-molido {
        position: relative;
        top: 50px;
        width: 90%;
    }

    .index__photo__capsulas {
        position: relative;
        top: 150px;
        padding: 0;
    }

    .contenedor-capsulas {
        position: relative;
        top: 50px;
        width: 90%;
    }

    .index__photo__cafeteras {
        position: relative;
        top: 150px;
        padding: 0;
    }

    .contenedor-cafeteras {
        position: relative;
        top: 50px;
        width: 90%;
    }



    /*carrusel elegi tu sabor*/

    .index__section__carousel__sabor h2 {
        font-size: 35px;
        position: relative;
        bottom: 10px;
    }

    .swiper-elegidos {
        position: relative;
        bottom: 60px;
        width: 90%;
    }

    .swiper-slide img {
        width: 200px;
        height: 200px;
    }


    /*Box coffee capsule*/

    .index__section__box img {
        position: relative;
        left: -180px;
        top: -450px;
        width: 500px;
        height: 500px;
    }

    .index__section__box__coffee-capsule {
        height: 350px;
        position: relative;
        left: 60px;
        top: 50px;
    }

    .index__section__box__coffee-capsule h3 {
        font-size: 2.125rem;
    }

    .index__section__box__coffee-capsule p {
        font-size: 22px;
        width: 55%;
        position: relative;
        left: 260px;
        bottom: 10px;
        padding-bottom: 20px;
    }

    .index__section__box__coffee-capsule-button {
        position: relative;
        left: -365px;
        bottom: 5px;
        font-size: 1.5rem;
        width: 250px;
    }




    /*Destacados*/

    .index__section__carrousel__destacados h2 {
        position: relative;
        top: -360px;
        font-size: 35px;
    }





    /*Complementos*/

    .complementos {
        width: 424px;
        height: 363px;
        top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: left;
    }

    .complementos h3 {
        font-size: 2.25rem;
        margin: 22px 10px;

    }

    .complementos p {
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        margin-right: 20px;
    }

    .complementos button {
        font-size: 1.5rem;
        width: 180px;
        height: 50px;
        border-radius: 5px;
        margin-right: 45px;
    }


    .index__section__complementos img {
        order: 1;
    }

    #blister-choco {
        width: 600px;
        height: 600px;
        position: absolute;
        top: -200px;
        left: -70px;
    }


    /*suscribite*/

    .index__suscribite h3 {
        font-size: 1.375rem;
    }

    .index__suscribite__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .suscribite__form {
        justify-content: flex-start;
    }

    .index__suscribite__form__input {
        width: 400px;
    }

    .index__suscribite__form__rrss {
        font-size: 20px;
        margin-bottom: 20px;
    }

}

/*/////////////////////////////////////////*/

/*tablet*/
@media (min-width:768px) {


    /*coffee capsule box*/
    .index__section__box img {
        width: 450px;
        height: 450px;
        position: relative;
        right: 80px;
        top: -500px;
    }

    .index__section__box__coffee-capsule {
        height: 450px;
        margin-right: 70px;

    }

    .index__section__box__coffee-capsule h3 {
        width: 500px;
        display: flex;
        justify-content: end;
        margin-left: 105px;
        margin-bottom: 30px;
    }

    .index__section__box__coffee-capsule p {
        margin-left: 20px;
    }

    .index__section__box__coffee-capsule-button {
        margin-left: 700px;
    }


    /*destacados*/


    /*.index__section__carrousel__destacados h2 {
        position: relative;
        top: -350px;
    }*/
   
    

    /*complementos*/
    #blister-choco {
        width: 500px;
        height: 500px;
        position: absolute;
        top: -170px;
        left: -45px;
    }

    .complementos h3 {
        margin-left: 60px;
    }

    .complementos p {
        margin-left: 65px;
    }

    .complementos button {
        margin-left: 90px;
    }
}

@media (max-width:768px){ 
.carousel-caption {
    display: none;
}
}

@media (max-width:1023px) {
    .index__section__carousel__sabor {
        display: none;
    }
}

/*desktop///////////////////////////////////////////*/


@media (min-width:1024px) {
    .btn-primary {
        height: 35px;
        width: 130px;
        position: relative;
        margin-bottom: 10px;
    }


    .index__photo {
        width: 100%;
    }

    .contenedor-cafe-molido {
        position: relative;
        top: 50px;
        width: 90%;
    }

    /*carrusel elegi tu sabor*/

    .swiper-slide img {
        width: 200px;
        height: 200px;
    }


    /*coffee capsule box*/

    .index__section__box img {
        width: 500px;
        height: 500px;
        position: relative;
        left: -290px;
        top: -500px;
    }

    .index__section__box__coffee-capsule h3 {
        width: 600px;
        display: flex;
        justify-content: end;
        margin: 0 0 40px 120px;

    }

    .index__section__box__coffee-capsule p {
        position: relative;
        left: 300px;
    }

    .index__section__box__coffee-capsule-button {
        margin-left: 830px;
    }

    /*destacados*/

 
    /*complementos*/

    #blister-choco {
        position: absolute;
        top: -200px;
        left: 20px;
        width: 600px;
        height: 600px;

    }

    .complementos h3 {
        padding-right: 140px;
    }

    .complementos p {
        margin: 0 120px 20px 0;

        width: 600px;
    }

    .complementos button {
        width: 180px;
        height: 50px;
        border-radius: 5px;
        margin-right: 145px;
    }


    .index__suscribite__form__rrss {
        font-size: 30px;
    }

    .suscribite__form {
        padding-top: 12px;
    }

    .index__suscribite h3 {
        font-size: 24px;
    }

    .index__suscribite__form__input {
        width: 35.75rem;
    }

}

/*desktop//////////////////////////*/

@media (min-width: 1280px) {
    .swiper-slide img {
        width: 300px;
        height: 300px;
    }

    /*Box coffee capsule*/

    .index__section__box__coffee-capsule {
        /*position: relative;
        left: -15px;*/
        height: 450px;
        display: flex;
        justify-content: center;
    }

    .index__section__box img {
        width: 700px;
        height: 700px;
        position: relative;
        left: -360px;
        top: -600px;
    }

    .index__section__box__coffee-capsule h3 {
        font-size: 45px;
        display: flex;
        justify-content: end;
        margin-left: 390px;
        margin-bottom: 60px;
    }

    .index__section__box__coffee-capsule p {
        position: relative;
        left: 450px;
        font-size: 1.625rem;
        padding-bottom: 30px;
    }

    .index__section__box__coffee-capsule-button {
        margin-left: 1030px;
    }


}

@media (min-width: 1440px) {

    .index__section__box__coffee-capsule {
        width: 1000px;
        height: 500px;
    }

    .index__section__box img {
        position: relative;
        left: -360px;
        top: -600px;
    }

    .index__section__box__coffee-capsule h3 {
        display: flex;
        justify-content: end;
        margin-left: 290px;
        margin-bottom: 30px;
    }

    #p-arma {
        width: 500px;
        margin: 0 30px 10px 0;
    }

    #p-disfruta {
        padding-right: 80px;
    }

    .index__section__box__coffee-capsule-button {
        margin-left: 960px;
    }

    .index__section__complementos {
        height: 450px;
    }

    #blister-choco {
        top: -160px;
        left: 20px;
        width: 650px;
        height: 650px;
    }

    .complementos h3 {
        margin-right: 210px;

    }

    .complementos p {
        margin-right: 310px;
    }

    .complementos button {
        margin-right: 380px;
    }
    
}
