.main_container {
font-family: 'inter';
display: flex;
flex-wrap: wrap;
width: 100%;
}
.main_container_card {
width: 100%;
margin-left: 10px;
}
.section_div_carrito {
padding: 30px 0px 0px 50px;
  
}
.section_div_img {
width: 49%;
}
.section_div_cafeinatopia {
width: 100%;
}
.section_div_cafeinatopia h2 {
color: var(--colorrojo);
font-size: 16px;
text-align: center;
}
.section_div_cafeinatopia h3 {
font-size: 20px;
margin-left: 80px ;
 }
.section_div_cafeinatopia_label {
font-size: 20px;

}
.section_div_cafeinatopia h5 {
font-size: 20px;
}
.section_div_finalizar {
background-color: var( --colorGrisClaro);
}
.section_div_finalizar_subtotal{
display: flex;
justify-content: space-between;
margin: 0px 10px 0px 10px;
}
.section_div_finalizar_subtotal h4 {
  font-size: 24px;
}
.section_div_finalizar_subtotal p {
  font-size: 20px;
}
.section_div_finalizar_total{
display: flex;
justify-content: space-between;
margin: 0px 10px 0px 10px;

}
.section_div_finalizar_total h3 {
  font-size: 32px;
}
.section_div_finalizar_total p {
font-size: 32px;
}
.section_div_finalizar_total button {
background-color: var(--colorocre);
font-size: 20px;
margin-left: 80px;
}


.div_imagen_logo_productcart{

  width: 90%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  
}

.imagen_logo_productcart{
  margin: 10px 0;
  width: 25%;
}

/*.titular_productcart{
  width: 50%;
  font-size: 30px;
  
}*/

.titular_productcart{
  font-size: 20px;
  margin: 20px;
  color:var(--colorrojo);
  font-size: 250%;


}


.uno_productcart .titular_productcart{
 padding-top: 15px;
 display: flex;
 flex-wrap: wrap;
 flex-direction:column;
 justify-content: flex-start;
}

.dos_productcart .titular_productcart{
  padding-top: 20px;
}

.tres_productcart .titular_productcart{
  padding-top: 0;
  padding-bottom: 20;
}

.uno_productcart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self:center; 
  border: 1px solid var(--grisclaro);
background-color:var(--colorblanco);
}

.uno_productcart:hover, .dos_productcart:hover, .tres_productcart:hover{
border: 2px solid #E99203;

} 

.dos_productcart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self:center; 
  border: 1px solid var(--grisclaro);
  
  background-color: var(--colorblanco);

}
.tres_productcart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self:center; 
  border: 1px solid var(--grisclaro);

  background-color:var(--colorblanco)
}

.tres_productcart label, .tres_productcart select{
display: inline-block;

margin: 10px;
}



.form_box_productcart{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self:center; 
  width: 100%;
  margin: 5px;
}

.form_box_productcart input{

  border: 2px solid gray;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
  padding: 15px 0;

}
.form_box_productcart input:hover{
border: 2px solid #E99203;

}


.button_productcart{
  background-color: #E99203 ;
  color: black;
  padding: 10px 15px;
  margin: 20px 0;
  border: #E99203;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; 
  font-weight: 600;
}

.uno_productcart .button_productcart{
margin-left: 35%;
}


.form_box_checkbox{
  margin: 10px;
}

.img_main_productcart{
  width: 60%;
}

.form_box_productcart label{
  margin: 10px;
}

.dos_productcart a{
  margin: 4px;
  width: 30%;
  display: inline-block;
  flex-direction: row;
}

.button_entrega_productcart{
  display: inline-block
}

.productCart_container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self:center;
padding: 10px 0;
}

.form_box_checkbox{

display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
align-self:center;
padding: 5% 0;
}

/*tablet*/
@media (min-width: 481px){

.imagen_logo_productcart {
  margin: 10px 0;
  width: 15%;
}

  .main_productcart{
      font-family: 'inter';
      width: 100%;
    }


    .uno_productcart {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self:center;
      gap: 10px;

   }

   .dos_productcart{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center;
    gap: 10px;
   }
   .tres_productcart{
    width: 90%;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self:center;
      gap: 10px;

}
}

/*Desktop*/
@media (min-width: 1024px){
  .card {
    width: 40%;
  display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self:center;
  
  }
.imagen_logo_productcart{
  margin: 10px 0;
  width: 15%;
}


.mySwiper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self:center;
}

section .uno_productcart {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self:center;
}

.dos_productcart{
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self:center;
}
.tres_productcart{
width: 40%;
display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self:center;
}

}