.produc-Detail-b{
  background-image: none;

}
.produc-Detail{
  display: flex;
  flex-wrap: wrap;
}
.product_casita {
    margin-top: 2%;
   text-align: initial;
}

.casita-p{
  padding: 10px; 
  color: var(--colorrojo);
  
}
.product {
    max-width: 300px;
    margin: 0.5%;
    
}

.product__container-img{
    width: 80%;
    margin: 2em auto;
    border: 0.5px solid;
    border-color: var(--colorrojo);
    padding: 2em;

}

img {
    max-width: 90%;
    height: auto;
}

.product__container-h{
    color: var(--colorrojo);
    margin-left: 2%;
}

.product_conteiner-arti{
    color: var(--colorrojo);
    margin-top: 10px;
    font-family: 'Inter';
    font-size: 22px; 
    margin-left: 15px;
}

.button_A {
    display: block;
    margin-left: 5px;
    padding: 10px 125px;
    background-color: var(--colorrojo);
    color: var(--colorblanco);
    text-align: center;
    font-family: 'Inter';
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
}
.cantidad{
  padding: auto;
  color: var(--colorrojo);
  font-family: 'inter';
}
.contador {
    display: flex;
   margin-top: 5px;
    color: var(--colorrojo);
    border: 1px solid;
    border-radius: 5%;
    width: 96px;
    
    
  }
  
  .boton-menos,
  .boton-mas {
    font-size: 16px;
    border-radius: 2%;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--colorrojo);
    
    
  }
  
  .numero {
    font-size: 18px;
    margin: 0 10px;
    color: var(--colorrojo);
  }
  
  .product-visto{
    margin-top: 5px;
    margin-left: 260px;
    font-size: 22px;
    text-decoration: none;
    font-family: 'inter';
    color: var(--colorrojo);
  }
  .h4 h2{
    color: var(--colorrojo);
    font-family: 'inter';
  }
  .product__container-mas{
    margin-top: 9%;
    margin-left: 260px;
    position: relative;
    width: 68%; 
    height: 29%;  
    border: 0.5px solid var(--colorrojo);
  }
.intensidad-img{
  margin-top: 10px;
  width: 15%;
  height: 5%;
}

.button_Amas{
   width: 100%;
    background-color: var(--colorrojo); 
    color: white; 
    padding: 10px 15px; 
    text-align: center;
    text-decoration: none;
    margin: 1px;
    cursor: pointer;
}

  /*/tablet768*/ 
  @media (min-width: 768px){
    .produc-Detail{
      display: flex;
      flex-direction: column;
  
    }
    
    .product__container-h {
      display: flex;
      justify-content: space-between;  
      padding: 20%;    
  }
  
  .product__container-img {
      flex: 1; 
      width: 55%;
      color:var(--colorrojo); 
  }
  h2{
    font-weight: bold;
    color:var(--colorrojo);
    font-family: 'inter';
  }
  .product_conteiner-arti {
      flex: 1; 
      max-width: 50%; 
      font-family: 'inter';
      justify-content: space-evenly;
      
  }
  .button_A{
    max-width: 55%;
    height: 35px;
  }
  
    .product__container-mas {
      position: relative;
      width: 18%;
      height: 21%;
      margin-bottom: auto;
      margin-right: 45%;
    }
    
  }
/*/destokp 1024*/
@media (min-width: 1024px) {
  .produc-Detail{
    display: flex;
  

  }
  
  .product__container-h {
    display: flex;
    justify-content: space-between;  
    padding: 20%;    
}

.product__container-img {
    flex: 1; 
    max-width: 40%;
    color:var(--colorrojo); 
}
h2{
  font-weight: bold;
  color:var(--colorrojo);
  font-family: 'inter';
}
.product_conteiner-arti {
    flex: 1; 
    max-width: 30%; 
    font-family: 'inter';
    justify-content: space-evenly;
    
}
.button_A{
  max-width: 40%;
}
.product-vist h2{
  margin-right: 5%;
}
  .product__container-mas {
    position: relative;
    width: 18%;
    height: 21%;
    margin-bottom: auto;
    margin-right: 25%;
  }
}
