.mySwiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  .main_productcart{
    font-family: 'inter';

  }

.div_imagen_logo_productcart{
    border-bottom: 1px solid grey;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }

.imagen_logo_productcart{
    margin: 10px 0;
    width: 25%;
}

.num, .titular_productcart{
    
    width: 50%;
    font-size: 30px;
}

.titular_productcart{
    font-size: 20px;
    margin: 20px;
    color: rgb(84, 84, 84);
}


.num{
    font-size: 25px;
    color: rgb(84, 84, 84);
    border: 1px solid rgb(221, 220, 220);
    background-color: rgb(221, 220, 220);
    border-radius: 100%;
    padding: 7px;
    position: absolute;
    width: 20px;  
    height: 20px;
    left: 10%;
    bottom: 82%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center;   
}

.uno_productcart .titular_productcart{
   padding-top: 15px;
}

.dos_productcart .titular_productcart{
    padding-top: 20px;
}

.tres_productcart .titular_productcart{
    padding-top: 0;
    padding-bottom: 20;
}

  .uno_productcart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center; 
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: rgba(244, 239, 239, 0.811);

 }

 .uno_productcart:hover, .dos_productcart:hover, .tres_productcart:hover{
  border: 2px solid #E99203;

 } 

 .dos_productcart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center; 
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: rgba(244, 239, 239, 0.811);

 }
 .tres_productcart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center; 
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    background-color: rgba(244, 239, 239, 0.811);

 }

 .tres_productcart label, .tres_productcart select{
  display: inline-block;
  
  margin: 10px;
 }



 .form_box_productcart{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self:center; 
    width: 100%;
    margin: 5px;
 }

 .form_box_productcart input{

    border: 2px solid gray;
    width: 90%;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
    padding: 3px 0;

 }
 .form_box_productcart input:hover{
  border: 2px solid #E99203;

 }


 .button_productcart{
    background-color: #E99203 ;
    color: black;
    padding: 10px 15px;
    margin: 20px 0;
    border: #E99203;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    font-weight: 600;
 }

.uno_productcart .button_productcart{
  margin-left: 35%;
}


.form_box_checkbox{
    margin: 10px;
}

.img_main_productcart{
    width: 60%;
}

.form_box_productcart label{
    margin: 10px;
}

.dos_productcart a{
    margin: 4px;
    width: 30%;
    display: inline-block;
    flex-direction: row;
}

.button_entrega_productcart{
    display: inline-block
}

/*tablet*/
@media (min-width: 481px){
  .imagen_logo_productcart{
    margin: 10px 0;
    width: 15%;
}

    .main_productcart{
        font-family: 'inter';
        width: 100%;
      }
    
    .swiper-slide {
      font-size: 18px;
      background: #fff;
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self:center;
        width: 20%;
       
      }
      .mySwiper {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self:center;
      }
      

      .uno_productcart {
        width: 90%;
        
     }
    
     .dos_productcart{
      width: 90%;

     }
     .tres_productcart{
      width: 90%;
}
}

/*Desktop*/
@media (min-width: 1024px){
  .imagen_logo_productcart{
    margin: 10px 0;
    width: 15%;
}


  .mySwiper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self:center;
  }

  .uno_productcart {
    width: 90%;
    
 }

 .dos_productcart{
  width: 90%;

 }
 .tres_productcart{
  width: 90%;
}

}