.produc-Detail-b {
background-image: none;
width: 90%;
display: flex;
flex-wrap: wrap;
}
.produc-Detail{
display: flex;
flex-wrap: wrap;
}
.product_casita {
margin-top: 2%;
text-align: initial;
}

.casita-p{
padding: 10px; 
color: var(--colorrojo);
}
.product {
max-width: 300px;
margin: 0.5%;
}
.product__container-img{
width: 80%;
border: 3px solid var( --colorGrisClaro);
margin-left: 50px;
}
.product__container-img:hover {
  color: var(--colorocre);
}

img {
    max-width: 90%;
   
}

.product__container-h{
    color: var(--colorrojo);
    margin-left: 50px;
    text-decoration:none;
}
.product__container-h p{
  margin-top: 20px;
}
.product__container-h h2{
  margin-top: 20px;
}

.product_container-arti{
    color: var(--colorrojo);
    margin-top: 10px;
    font-family: 'Inter';
    font-size: 22px; 
    
    text-align:star;
}

.button_A {
   
    padding: 15px 75px;
    background-color: var(--colorrojo);
    color: var(--colorblanco);
    text-align: center;
    font-family: Inter;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
    height: 50px;
}
.contador {
    display: flex;
    align-items: center;
    color: var(--colorrojo);
    border: 1px solid;
    position: relative;
    width: 96px;
    
    
  }
  
  .boton-menos,
  .boton-mas {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--colorrojo);
  }
  
  .numero {
    font-size: 18px;
    margin: 0 10px;
    color: var(--colorrojo);
  }
  
  .product-visto{
    margin-top: 5px;
    margin-left: 85px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    color: var(--colorrojo);
  }
  /*h4{
    color: var(--colorrojo);
  }*/
  /*.product__container-mas{
    margin-top: 5%;
    display: flex;
   
    background-color: var(--colorblanco);
    width: 70%; 
    height: 28%;  
    border: 2px solid var(--colorrojo);
  }*/
/*.intensidad-img{
  margin-top: 10px;
  width: 15%;
  height: 5%;
}*/

.button_Amas{
   width: 80%;
    background-color: var(--colorrojo); 
    color: var(--colorblanco); 
    padding: 10px 15px; 
    text-align: center;
    text-decoration: none;
    margin: 1px;
    cursor: pointer;
}
  .card:not(:first-child) {
      margin: 0 .5em;
      display: none;
      
  }
/*///////////////////////////////////////////////////////////////////////////////*/
  /*/tablet768*/ 
  @media (min-width: 768px){
.produc-Detail-b {
display: flex;
flex-wrap: wrap;
}
.produc-Detail{
width: 100%;
}
.casita-p{
color: var(--colorrojo);
margin-bottom: 20px;
font-size:32px ;
}
.product__container-img{
border: 3px solid var( --colorGrisClaro);
margin-left: 10px;


}
.product__container-img:hover {
color: var(--colorocre);
}
img {
width: 100%;
height:90%;
}


    .product__container-h{
      width: 80%;
    
  
    
  
    }
    .intensidad-img{
      width: 50%;
    }
    .product_container-arti{
   /* width: 30%; */
   flex-direction: column;
   }
    
  }
/*/destokp 1024*/
@media (min-width: 1024px) {
  .product {
    max-width: 100px;
    margin: 0.5%;
  }


  .product__container-img {
    width: 80%;
    border: 0.5px solid;
  }

  img {
    /* max-width: 60%; */
    height: auto;
  }

  .product__container-mas {
    position: relative;
    width: 18%;
    height: 21%;
    margin-bottom: auto;
    margin-right: 95%;
  }
}
