.body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    font-size: 20px;
    color: #991d1f;
    font-weight: 400;
  }
.register-div-login-section {
  color: #991d1f;

} 
  
.register_div_clientes_registrados {
    font-weight: 500;
    line-height: normal;
    margin-left: 60px;
    margin-top: 20px;
  }
.register_div_correo_electronico {
    font-size: 20px;
   margin-bottom: 20px;
   margin-left: 30px;
  }
.label {
    margin-right: 5px;
    white-space: nowrap;
    color: #db4437;
    font-size: 17px;
    margin-top: 10;
    margin-left: 20px;
  }
.input {
    width: 400px;
    height: 39px;
    border-radius: 5px;
    border: 1px solid #991f1f;
    background: #fff;
    margin-left: 20px;
  }
.a {
    text-decoration: none;
  }
  
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.login-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-basis: 45%;
    margin-top: 15px;
  }
.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    flex-basis: 50%;
   
  }
/*.ClientesRegistrados {
    margin-left: 10px;
  }
.CorreoElectronico {
    margin-left: 10px;
    margin-bottom:10px ;
    font-size: 20px;
  }*/
  
.loginForm {
    display: flex;
    justify-content: flex-start;
  
  }
.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
    margin-left: 30px;
  }
.input-Email {
    margin-left: 29px;
  }
.contenedorCampoObligatorio {
    text-align: end;
    width: 260px;
    
  }
.CampoObligatorio {
    font-size: 12px;
    color: #000;
    opacity: 0.4;
    margin-bottom: 3px;
    margin-top: 100;
  }
.Campo2 {
    width: 278px;
    text-align: end;
    margin-top: 20px;
  }
.TextPassword {
    text-align: start;
    font-size: 14px;
    color: #db4437;
  }
.CheckboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50px;
    width: 180px;
    margin-top: 20px;
    margin-left: 40px;
  }
.checkbox {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
.checkboxBig {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
.CaptchaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background: #dfdfdf;
    margin-left: 100px;
  }
/*.TextCaptcha {
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 100px;
    color: #000;
  }*/

.boton-personalizado1 {
    margin-top: 36px;
    margin-left: 120px;
    margin-bottom: 30px;
  }
/*.boton-personalizado2 {
    margin-top: 36px;
    margin-bottom:30px;
    align-self: flex-start;
    margin-left: 20px;
  }*/
.social-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    margin-left: 40px;
    background-color: #4385f5;
    color: #fff;
  }
.social-btn-fb {
    background-color: #4268b4;
    margin-bottom: 15px;
  }
.socialImageContainer {
   
    height: 40px;
  }
.social-Image-Facebook {
    width: 200%;
    height: 100%;
    object-fit: cover;
  }
.social-Image-Google {
    width: 200%;
    height: 100%;
    object-fit: cover;
  }
.register_div_nuevos_clientes {
    font-weight: 500;
    line-height: normal;
    color: #991d1f;
  }
.register_div_parrafo_responsive {
    font-size: 20px;
    color: #991d1f;
  }

.containerFrase {
    width: 590px;
    height: 88px;
  }


  /* CELULAR */
  @media screen and (max-width: 480px) {
    body,
    p,
    label,
    button,
    .CampoObligatorio,
    .TextPassword,
    .TextCaptcha {
      font-size: 10px;
    }
   
  .input {
      width: 250px;
      height: 20px;
      border-radius: 3px;
    }
  .container {
      flex-direction: column;
      align-items: center;
    }
  .login-section
      .ClientesRegistrados
      .CorreoElectronico
      .social-btn
      .boton-personalizado2
      .boton-personalizado1
      .CaptchaContainer
      .input-Email {
      margin-left: 10px;
    }
  .login-section {
      align-items: center;
      justify-content: center;
      flex-basis: none;
    }
  .register-section {
      flex-basis: 100%;
    }
  .boton-personalizado2 {
      align-self: center;
    }
  .TextPassword {
      text-align: center;
    }
    .social-btn .loginForm .CheckboxContainer .CaptchaContainer {
      justify-content: center;
    }
  .CaptchaImageContainer {
      justify-content: center;
    }
  .Campo2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  .CheckboxCaptchaContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .CheckboxContainer {
    align-items: center;
      margin-left: 30px;
    }
  .botonesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  .social-btn {
      width: 200px;
    }
  .contenedorCampoObligatorio {
      width: 200px;
    }
  .boton-personalizado2 {
      margin-left: 0px;
      margin-top: 10px;
    }
  .boton-personalizado1 {
      margin-left: 0px;
    }
  .containerFrase {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 350px;
    }
  .input-Email {
      margin-left: 18px;
    }
  }


  /* Tablet */
  
  @media screen and (min-width: 481px) and (max-width: 1023px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .login-section
      .ClientesRegistrados
      .CorreoElectronico
      .social-btn
      .boton-personalizado2
      .boton-personalizado1
      .CaptchaContainer
      .input-Email {
      margin-left: 10px;
    }
    
  .login-section {
      align-items: center;
      justify-content: center;
      flex-basis: none;
    }
  .register-section {
      flex-basis: 100%;
    }
  .boton-personalizado2 {
      align-self: center;
    }
  .TextPassword {
      text-align: center;
    }
    .social-btn .loginForm .CheckboxContainer .CaptchaContainer {
      justify-content: center;
    }
  .CaptchaImageContainer {
      justify-content: center;
    }
  .Campo2 {
      width: 400px;
    }
  .CheckboxCaptchaContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  .CheckboxContainer {
      justify-content: center;
      align-items: center;
    }
    .botonesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
 