<!DOCTYPE html>
<html lang="es">
 
        <%- include('./partials/head',{title: 'Cafeteras' }) %>
        
  
    <body>
    <%- include('./partials/header') %>
    <main class="cafeteras">
        <div class="card" style="width: 18rem;">
            <img src="img/maquinadecafe.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Con nuestra Cafetera profesional,
                podes ser un barista desde la comodidad de tu casa
              </p>
            </div>
            <button class="button_A">Agregar al Carrito</button>
          </div>
         
    </main>

    </body>
   
<%- include('./partials/footer.ejs') %>
</html>