<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head',{title: 'Café Molido' }) %>
        <link rel="icon" type="image/x-icon" href="/img/fondo-accesorios-cafe.PNG">
        
    
    <body>
<%- include('./partials/header') %>
<main class="cafeMolido">

</main>
    </body>
   
<%- include('./partials/footer.ejs') %>
</html>