<!DOCTYPE html>
<html lang="es">

        <%- include('./partials/head',{title: 'Capsulas' }) %>
        <link rel="icon" type="image/x-icon" href="/img/fondo-accesorios-cafe.PNG">
    
    <body>
    <%- include('./partials/header') %>
    <main class="capsulas">
        <div class="card" style="width: 18rem;">
            <img src="img/capsulaazul.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cápsula de Café Americano</p>
            </div>
            <button class="button_A">Agregar al Carrito</button>
          </div>
          
          <div class="card" style="width: 18rem;">
            <img src="img/capsulaazul.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cápsula de Café Americano</p>
            </div>
            <button class="button_A">Agregar al Carrito</button>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="img/capsulacrema.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cápsula de Crema</p>
            </div>
            <button class="button_A">Agregar al Carrito</button>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="img/capsularoja.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Cápsula de Crema</p>
            </div>
            <button class="button_A">Agregar al Carrito</button>
          </div>


    </main>
    </body>
   
<%- include('./partials/footer.ejs') %>
</html>