<!DOCTYPE html>
<html lang="en">

        <%- include('./partials/head',{title: 'Complementos' }) %>
        <link rel="icon" type="image/x-icon" href="/img/fondo-accesorios-cafe.PNG">
    
    
    <body>
<%- include('./partils/header') %>
<main class="Complementos">

</main>
    </body>
   
<%- include('./partials/footer.ejs') %>
</html>