<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title: 'Home | Cafeinotopia'}) %>
<body class="body">
  <div id="contenedor">
    <%- include('./partials/header') %>
   
      <main class="index__main">

         <div class="index__main__banner">
          <!--banner-->
         </div>   
       
         <div class="index__contenedores">
 
            <div class="index__div__container">
             
              <img class="index__photo__capsulas" src="/img/capsulas-cafeinatopia.png" alt="capsulas-de-cafe-cafeinatopia">
              <a class="capsulas" href="#">CÁPSULAS</a>
             
            </div>
 
            <div class="index__div__container">
             
              <img class="index__photo__capsulas" src="/img/cafe-molido-cafeinatopia.png" alt=""> <!--revisar nombre de clase-->
              <a class="cafe-molido" href="#">CAFÉ MOLIDO</a>
             
            </div>
 
            <div class="index__div__container">
             
             <img class="index__photo__capsulas" src="/img/cafeteras-cafeinatopia.png" alt="cafeteras-cafeinatopia">
             <a class="cafeteras" href="#">CAFETERAS</a>
            
           </div>
 
         </div>
 
         <section class="index__section__slide__sabor">
             <h2>Elegí tu sabor preferido</h2>
             <!--carrusel capsulas-->
             <img class="index__section__slide__sabor__capsula-crema" src="img/capsulacrema.png" alt="cápsula-crema">
             <img class="index__section__slide__sabor__capsula-violeta" src="/img/capsulavioleta.png" alt="cápsula-violesta">
         </section>
 
         <section class="index__section__box">
             <div>
              <img class="box" src="/img/caja-seleccion-cafeinatopia.png" alt="caja-capsulas-seleccionadas-cafeinatopia" width="400" height="400">
             </div>
 
             <div class="index__section__box__coffee-capsule">
              <h3>Coffee Capsule Box</h3>
              <p>Armá tu box de cápsulas con<br>la selección de tu preferencia<br>para crear una experiencia de<br>café única y a medida</p>
              <p>¡Disfruta del café perfecto!</p>
              <button class="index__section__box__coffee-capsule-button" type="button">Viví la experiencia</button>
              </div>
         </section>
 
         <section class="index__section__carrousel__destacados">
             <h2>Destacados</h2>
             <!--carrusel productos destacados-->
             <img class="index__section__carrousel__destacados__producto" src="/img/producto blister cafetera.jpeg" alt="cafetera-expresso">
             <img class="index__section__carrousel__destacados__producto-cafetera" src="img/producto blister cafe molido.jpeg" alt="cafetera-expresso">
         </section>
 
         <section class="index__section__complementos">
             
             <img class="blister-choco" src="/img/chocolate-con-almendras.png" alt="brik de chocolate con almendaras-cafeinotopia" width="400" height="400">
 
           <div class="complementos">
             <h3>Complementos</h3>
             <p>Completá tu experiencia con<br>nuestros Chocolates Gourmet<br>de primera calidad, perfectos<br>para acompañar tu taza de<br>café</p>
             <button class="index__section__complementos-button" type="button">Tentate</button>
           </div>
 
         </section>
 
     </main>
  
     <%- include('./partials/footer.ejs') %>
     
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
    </div>
</body>
</html>