<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', {title: 'Home | Cafeinatopia' }) %>

  <body>

    <%- include('./partials/header') %>

      <main>

        <!--banner-->
        <div class="index__main__banner">

          <div id="carouselExampleIndicatorsAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicatorsAutoplaying" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicatorsAutoplaying" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicatorsAutoplaying" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">

              <div class="carousel-item active d-item" data-bs-interval="2000">
                <img src="/img/img-el-aroma-de-la-vida-cafeinatopia.png" class="d-block w-100 d-img img-fluid"
                  alt="Slide 1">

                <div class="carousel-caption col-md-4">
                  <button class="btn btn-primary px-1 py-0 fs-5 mt-5">Quiero café</button>
                </div>
              </div>

              <div class="carousel-item d-item" data-bs-interval="2000">
                <img src="/img/img-siempre-cerca-cafeinatopia.png" class="d-block w-100 d-img img-fluid" alt="Slide 2">
              </div>

              <div class="carousel-item d-item">
                <img src="/img/img-cafe-molido-cafeinatopia.png" class="d-block w-100 d-img img-fluid" alt="Slide 3">
              </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorsAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon prevnex" aria-hidden="true"></span>
              <span class="visually-hidden ">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorsAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon prevnex" aria-hidden="true"></span>
              <span class="visually-hidden ">Next</span>
            </button>

          </div>

        </div>
        <!--/banner-->

        <!--contenedores-->
        <div class="index__contenedores">

          <div class="index__div__container">

            <img class="index__photo" src="/img/cafe-molido.png" alt="cafe-molido-cafeinatopia">
            <a class="contenedor-cafe-molido" href="#">CAFÉ MOLIDO</a>

          </div>

          <div class="index__div__container">

            <img class="index__photo__capsulas" src="/img/capsulas-cafeinatopia.png"
              alt="capsulas-de-cafe-cafeinatopia">
            <a class="contenedor-capsulas" href="#">CÁPSULAS</a>

          </div>

          <div class="index__div__container">

            <img class="index__photo__cafeteras" src="/img/cafeteras-cafeinatopia.png" alt="cafeteras-cafeinatopia">
            <a class="contenedor-cafeteras" href="#">CAFETERAS</a>

          </div>

        </div>
        <!--/contenedores-->

        <!--carrusel capsulas-->
        <section class="index__section__carousel__sabor">
          <h2>Elegí tu sabor preferido</h2>
          

          
        </section>
        <!--/carrusel capsulas-->

        <!--section box-->
        <section class="index__section__box">

          <img class="box" src="/img/caja-seleccion-cafeinatopia.png" alt="caja-capsulas-seleccionadas-cafeinatopia"
            width="400" height="400">


          <div class="index__section__box__coffee-capsule">
            <h3>Coffee Capsule Box</h3>
            <p>Armá tu box de cápsulas con<br>la selección de tu preferencia<br>para crear una experiencia de<br>café
              única y a medida</p>
            <p>¡Disfruta del café perfecto!</p>
            <button class="index__section__box__coffee-capsule-button" type="button">Viví la experiencia</button>
          </div>
        </section>
        <!--/section box-->

        <!--carrusel destacados-->
        <!--  <section class="index__section__carrousel__destacados">
            <h2>Destacados</h2>
            
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner .destacados">

                <div class="carousel-item active">
                  <div class="card">
                    <img src="/img/maquinadecafe.png" class="card-img-top " alt="maquina cafe">
                    <div class="card-body">
                      <h5 class="card-title">Cafetera Ocean Negra</h5>
                      <p class="card-text font-weight-bold">$110.000</p>
                      <a href="#" class="btn btn-primary">Agregar al carrito</a><i class="fa-solid fa-cart-shopping"></i>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="card">
                    <img src="/img/pack cafe en grano.png" class="card-img-top" alt="Pack cafe en grano">
                    <div class="card-body">
                      <h5 class="card-title">Pack Café en grano</h5>
                      <p class="card-text">$8.500</p>
                      <a href="#" class="btn btn-primary">Agregar al carrito</a><i class="fa-solid fa-cart-shopping"></i>
                    </div>
                  </div>
                </div>

                <div class="carousel-item">
                  <div class="card">
                    <img src="/img/pack cafe molido.png" class="card-img-top" alt="Pack cafe molido">
                    <div class="card-body">
                      <h5 class="card-title">Pack Café Molido</h5>
                      <p class="card-text">$3.350</p>
                      <a href="#" class="btn btn-primary">Agregar al carrito</a><i class="fa-solid fa-cart-shopping"></i>
                    </div>
                  </div>
                </div>

              </div>
              
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </section>-->
        <!--/carrusel destacados-->


        <!--section complementos-->
        <section class="index__section__complementos">

          <img class="blister-choco" src="/img/chocolate-con-almendras.png"
            alt="brik de chocolate con almendras-cafeinatopia" width="400" height="400">

          <div class="complementos">
            <h3>Complementos</h3>
            <p>Completá tu experiencia con<br>nuestros Chocolates Gourmet<br>de primera calidad, perfectos<br>para
              acompañar tu taza de<br>café</p>
            <button class="index__section__complementos-button" type="button">Tentate</button>
          </div>

        </section>
        <!--/section complementos-->

        <!--form suscripción-->
        <section>
          <div class="index__suscribite">
            <h3 class="index__suscribite h3">Suscribite a nuestras promociones y novedades</h3>

            <div class="index__suscribite__form">
              <form class="suscribite__form">

                <div class="index__suscribite__form__icono">
                  <i class="fa-solid fa-envelope"></i>
                </div>

                <div>
                  <input class="index__suscribite__form__input" type="email">
                </div>

                <div>
                  <button class="index__suscribite__form__button" type="submit">Enviar</button>
                </div>

              </form>

              <div class="index__suscribite__form__rrss">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin-in"></i>
              </div>

            </div>


          </div>

        </section>
        <!--/form suscripción-->


      </main>

      <%- include('./partials/footer.ejs') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        
  </body>

</html>