<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeinatopia | index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/styles.css">
 <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <section class="header__datos">
           
        <div class="header__datos__tel">
          <i class="fa-solid fa-phone"></i>
          <h4>54 911 1234-5678</h4>
        </div>
  
        <div class="header__datos__email">
           <i class="fa-solid fa-envelope"></i>
           <h4>info@cafeinatopia.com</h4>
        </div>
          
        <div class="header__datos__sucursales">
           <i class="fa-solid fa-store"></i>
           <h4>Sucursales</h4>
        </div>
  
        </section>
  
        <section class="header__menu">
  
           <a href="" class="header__bars"><i class="fa fa-bars"></i></a>
           <img src="/img/Logo-Cafeinatopia-1.png" alt="logo-cafeinatopia">
           
           <nav class="header__nav">
  
              <ul>
                      <li><a href="/cafe-molido">Café Molido</a></li>
                      <li><a href="/capsulas">Cápsulas</a></li>
                      <li><a href="/cafeteras">Cafeteras</a></li>
                      <li><a href="/complementos">Complementos</a></li>
                  </ul>
  
           </nav>
  
           <div class="search-bar">
              <input id="input" type="text">
              <button type="submit"><i class="fas fa-search"></i></button> 
           </div>
  
           <div class="header__iconos">
             <div>
              <i id="lupa-mobile" class="fa-solid fa-magnifying-glass"></i>
             </div>
  
             <div class="user">
              <i class="fa-solid fa-user"></i>
             </div>
  
             <div class="cart">
              <i class="fa-solid fa-cart-shopping"></i>
             </div>
           </div>
  
        </section>
  
        <section class="header__env-mediosPago">
     
             <i id="truck" class="fa-solid fa-truck-fast"></i>
             <h4 class="truck-h4">Envío seguro a todo el país</h4>
           
             <i id="credit-card" class="fa-solid fa-credit-card"></i>
             <h4 class="credit-card-h4" >Todos los medios de pago</h4>       
                 
        </section>
  
      </header>
   
      <main class="index__main">


         <div class="index__main__banner">
          <!--banner-->
         </div>   
       
         <div class="index__contenedores">
 
            <div class="index__div__container">
             
              <img class="index__photo__capsulas" src="/img/capsulas-cafeinatopia.png" alt="capsulas-de-cafe-cafeinatopia">
              <a class="capsulas" href="#">CÁPSULAS</a>
             
            </div>
 
            <div class="index__div__container">
             
              <img class="index__photo__capsulas" src="/img/cafe-molido-cafeinatopia.png" alt=""> <!--revisar nombre de clase-->
              <a class="cafe-molido" href="#">CAFÉ MOLIDO</a>
             
            </div>
 
            <div class="index__div__container">
             
             <img class="index__photo__capsulas" src="/img/cafeteras-cafeinatopia.png" alt="cafeteras-cafeinatopia">
             <a class="cafeteras" href="#">CAFETERAS</a>
            
           </div>
 
         </div>
 
         <section class="index__section__slide__sabor">
             <h2>Elegí tu sabor preferido</h2>
             <!--carrusel capsulas-->
             <img class="index__section__slide__sabor__capsula-crema" src="img/capsulacrema.png" alt="cápsula-crema">
             <img class="index__section__slide__sabor__capsula-violeta" src="/img/capsulavioleta.png" alt="cápsula-violesta">
         </section>
 
         <section class="index__section__box">
             <div>
              <img class="box" src="/img/caja-seleccion-cafeinatopia.png" alt="caja-capsulas-seleccionadas-cafeinatopia" width="400" height="400">
             </div>
 
             <div class="index__section__box__coffee-capsule">
              <h3>Coffee Capsule Box</h3>
              <p>Armá tu box de cápsulas con<br>la selección de tu preferencia<br>para crear una experiencia de<br>café única y a medida</p>
              <p>¡Disfruta del café perfecto!</p>
              <button class="index__section__box__coffee-capsule-button" type="button">Viví la experiencia</button>
              </div>
         </section>
 
         <section class="index__section__carrousel__destacados">
             <h2>Destacados</h2>
             <!--carrusel productos destacados-->
             <img class="index__section__carrousel__destacados__producto" src="/img/producto blister cafetera.jpeg" alt="cafetera-expresso">
             <img class="index__section__carrousel__destacados__producto-cafetera" src="img/producto blister cafe molido.jpeg" alt="cafetera-expresso">
         </section>
 
         <section class="index__section__complementos">
             
             <img class="blister-choco" src="/img/chocolate-con-almendras.png" alt="brik de chocolate con almendaras-cafeinotopia" width="400" height="400">
 
           <div class="complementos">
             <h3>Complementos</h3>
             <p>Completá tu experiencia con<br>nuestros Chocolates Gourmet<br>de primera calidad, perfectos<br>para acompañar tu taza de<br>café</p>
             <button class="index__section__complementos-button" type="button">Tentate</button>
           </div>
 
         </section>
 
     </main>
  
      <footer>
  
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> 
</body>
</html>