    <footer class="footer">

        <section class="footer_container">
        
            <div class="footer_item">
                <img class="footer_imagen_logo" src="/img/Logo-Cafeinatopia-1.png" alt="">
            </div>
        
            <div class="footer_item">
                <h4>Quienes somos</h4>
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                    <li><a href="">Politicas de privacidad</a></li>
                </ul>
            </div>
        
            <div class="footer_item">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="">Consultas</a></li>
                    <li><a href="">WhatsApp</a></li>
                    <li><a href="">tel: 11 1234 5678</a></li>
                </ul>
            </div>
        
            <div class="footer_item">
                <h4>Cuenta</h4>
                    <ul>
                        <li><a href="">Mi cuenta</a></li>
                        <li><a href="">Sueguimiento de pedido</a></li>
                    </ul>
            </div>
        
            <div class="footer_item">
                <h4 class="footer_mediosdepago">Medios de pago</h4>
                <p>Paga con credito y debito</p>
                <div class="footer_tarjetas">
                    <img class="img" src="/img/logo american express.png" alt="">
                    <img class="img" src="/img/logo mastercard.png" alt="">
                    <img class="img" src="/img/logo naranja x.png" alt="">
                    <img class="img" src="/img/logo visa.png" alt="">
                    <img class="img" src="/img/Mercado_Pago_Logo_PNG2.png" alt="">
                </div>
                <a href="">Ver promociones</a>
            </div>
        
        
        </section>
        
        </footer>
      