    <footer class="footer">

        <section >
       <div class="footer_container">
            <div class="footer_item">
                <img class="footer_imagen_logo" src="/img/Logo-Cafeinatopia-1.png" alt="">
            </div>
        
            <div class="footer_item">
                <h4>Quienes somos</h4>
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                    <li><a href="">Politicas de privacidad</a></li>
                </ul>
            </div>
        
            <div class="footer_item">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="">Consultas</a></li>
                    <li><a href="">WhatsApp</a></li>
                    <li><a href="">tel: 11 1234 5678</a></li>
                </ul>
            </div>
        
            <div class="footer_item">
                <h4>Cuenta</h4>
                    <ul>
                        <li><a href="">Mi cuenta</a></li>
                        <li><a href="">Seguimiento de pedido</a></li>
                    </ul>
            </div>
        
            <div class="footer_item">
                <h4 class="footer_mediosdepago">Medios de pago</h4>
                
                <div class="footer_tarjetas">
                    <img  src="/img/logo visa.png" alt="">
                    <img  src="/img/logo mastercard.png" alt="">
                    <img  src="/img/logo naranja x.png" alt="">
                    <img  src="/img/logo american express.png" alt="">
                    <img  src="/img/Mercado_Pago_Logo_PNG2.png" alt="">
                </div>
                <p>Paga con crédito y débito</p>
            </div>
              <div class="footer_boton_de_arrepentimiento">
                <button > Botón de arrepentimiento</button>
              </div>
            </div>

            <div class="footer_copy">
                
                    <img src="/img/compra segura.png" alt="">
                    <img src="/img/cace.png" alt="">
                    <img src="/img/data fiscal.png" alt="">
                </div>
         <div class="footer_copy_p"> <p>Copyright© CAFEINATOPIA 2024</p></div> 
        </div>
            
        
        </section>
        
        </footer>
      