<header class="header">
   <section class="header__datos">

      <div class="header__datos__tel">
         <i class="fa-solid fa-phone"></i>
         <h4>54 911 1234-5678</h4>
      </div>

      <div class="header__datos__email">
         <i class="fa-solid fa-envelope"></i>
         <h4>info@cafeinatopia.com</h4>
      </div>

      <div class="header__datos__sucursales">
         <i class="fa-solid fa-store"></i>
         <h4>Sucursales</h4>
      </div>

   </section>

   <section class="header__menu">

      <a href="" class="header__bars"><i class="fa fa-bars"></i></a>
      <a href="/" class="header__logo">
         <img  src="/img/Logo-Cafeinatopia-1.png" alt="logo-cafeinatopia">
      </a>


      <nav class="header__nav">

         <ul>
            <li><a href="/products?id=5&category=Café Molido">Café Molido</a></li>
            <li><a href="/products?id=3&category=Cápsulas">Cápsulas</a></li>
            <li><a href="/products?id=1&category=Cafeteras">Cafeteras</a></li>
            <li><a href="/products?id=2&category=Complementos">Complementos</a></li>
            <% if (locals.userLogin) { %>
               <% if (userLogin.role === 1) { %>
                   <li class="animate__animated animate__fadeInDown"><a href="/dashboard">dashboard</a></li>
               <% }%>
               
   
            
           <% } %>
       
         </ul>

      </nav>

      <form class="search-bar" action="/products/search">
         <input id="input" type="text" name="keywords">
         <button type="submit"><i class="fas fa-search"></i></button>
      </form>

      <div class="header__iconos">
         <div>
            <i id="lupa-mobile" class="fa-solid fa-magnifying-glass"></i>
         </div>
         <% if (locals.userLogin) { %>
            <div class="user">
               <a href="/users/perfil"><i class="fa-solid fa-address-card"></i></a>
            </div>
            <div class="user">
               <a href="/users/salir"><i class="fa-solid fa-sign-out"></i></a>
            </div>
            <% }else{ %>
               <div class="user">
                  <a href="/users/login"><i class="fa-solid fa-user"></i></i></a>
               </div>

               <div class="cart position-relative">
                  <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                  <span id="cart-total-items" class="position-absolute bottom-50 start-100 translate-middle badge rounded-pill bg-light text-dark">
                     
                     <span class="visually-hidden">unread messages</span>
                   </span>
               </div>
               <% } %>
      </div>

   </section>

   <section class="header__env-mediosPago">

      <i id="truck" class="fa-solid fa-truck-fast"></i>
      <h4 class="truck-h4">Envío seguro a todo el país</h4>

      <i id="credit-card" class="fa-solid fa-credit-card"></i>
      <h4 class="credit-card-h4">Todos los medios de pago</h4>

   </section>

</header>
<script src="/javascripts/cart.js"></script>