<header class="header">
      <section class="header__datos">
         
      <div class="header__datos__tel">
        <i class="fa-solid fa-phone"></i>
        <h4>54 911 1234-5678</h4>
      </div>

      <div class="header__datos__email">
         <i class="fa-solid fa-envelope"></i>
         <h4>info@cafeinatopia.com</h4>
      </div>
        
      <div class="header__datos__sucursales">
         <i class="fa-solid fa-store"></i>
         <h4>Sucursales</h4>
      </div>

      </section>

      <section class="header__menu">

         <a href="" class="header__bars"><i class="fa fa-bars"></i></a>
         <img src="/img/Logo-Cafeinatopia-1.png" alt="logo-cafeinatopia">
         
         <nav class="header__nav">

            <ul>
					<li><a href="/cafe-molido">Café Molido</a></li>
					<li><a href="/capsulas">Cápsulas</a></li>
					<li><a href="/cafeteras">Cafeteras</a></li>
					<li><a href="/complementos">Complementos</a></li>
			</ul>

         </nav>

         <div class="search-bar">
            <input id="input" type="text">
            <button type="submit"><i class="fas fa-search"></i></button> 
         </div>

         <div class="header__iconos">
           <div>
            <i id="lupa-mobile" class="fa-solid fa-magnifying-glass"></i>
           </div>

           <div class="user">
            <i class="fa-solid fa-user"></i>
           </div>

           <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
           </div>
         </div>

      </section>

      <section class="header__env-mediosPago">
   
           <i id="truck" class="fa-solid fa-truck-fast"></i>
           <h4 class="truck-h4">Envío seguro a todo el país</h4>
         
           <i id="credit-card" class="fa-solid fa-credit-card"></i>
           <h4 class="credit-card-h4" >Todos los medios de pago</h4>       
               
      </section>

</header>