<div class="modal fade" id="modalDelete<%= id %>" tabindex="-1" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <div class="modal-body position-relative border border-primary rounded">
          <img class="w-100 p-0" src="/img/image_processing20210304-21895-uchm8k.gif" alt="">
          <h5 class=" top-50 texto-delete">Deseas eliminar el producto: <%= products.name %>?</h5>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
          <form action="/products/eliminar/<%= id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        </div>
      </div>
    </div>
  </div>